USE [master]
GO
/****** Object:  Database [DEV]    Script Date: 19/07/2019 16:59:46 ******/
CREATE DATABASE [DEV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DEV', FILENAME = N'/var/opt/mssql/data/DEV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DEV_log', FILENAME = N'/var/opt/mssql/data/DEV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DEV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DEV]
GO
/****** Object:  Table [dbo].[COMENTARIO]    Script Date: 19/07/2019 16:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMENTARIO](
	[ID] [int] NOT NULL,
	[TICKET_USUARIO_ID] [int] NOT NULL,
	[COMENTARIO] [varchar](max) NOT NULL,
	[BASEROWS] [smallint] NOT NULL,
	[BASEROWD] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TICKET]    Script Date: 19/07/2019 16:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TICKET](
	[ID] [int] NOT NULL,
	[CODIGO] [varchar](50) NOT NULL,
	[DESCRICAO] [varchar](100) NOT NULL,
	[USUARIO_ID] [int] NULL,
	[TIPO] [smallint] NULL,
	[PRIORIDADE] [smallint] NULL,
	[DATA_ABERTURA] [datetime] NOT NULL,
	[DATA_FECHAMENTO] [datetime] NULL,
	[STATUS] [smallint] NOT NULL,
	[BASEROWS] [smallint] NOT NULL,
	[BASEROWD] [datetime] NOT NULL,s	
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TICKET_USUARIO]    Script Date: 19/07/2019 16:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TICKET_USUARIO](
	[ID] [int] NOT NULL,
	[TICKET_ID] [int] NOT NULL,
	[USUARIO_ID] [int] NOT NULL,
	[BASEROWS] [smallint] NOT NULL,
	[BASEROWD] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 19/07/2019 16:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID] [int] NOT NULL,
	[NOME] [varchar](50) NOT NULL,
	[EMPRESA] [varchar](100) NOT NULL,
	[USUARIO] [varchar](50) NOT NULL,
	[SENHA] [varchar](50) NOT NULL,
	[TIPO] [smallint] NOT NULL,
	[BASEROWS] [smallint] NOT NULL,
	[BASEROWD] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

INSERT [dbo].[COMENTARIO] ([ID], [TICKET_USUARIO_ID], [COMENTARIO], [BASEROWS], [BASEROWD]) VALUES (1, 1, N'Mas qual exatamente é o problema ?', 1, CAST(N'2019-07-16T22:20:23.177' AS DateTime))
INSERT [dbo].[COMENTARIO] ([ID], [TICKET_USUARIO_ID], [COMENTARIO], [BASEROWS], [BASEROWD]) VALUES (2, 2, N'Não consigo entrar na tela de login', 1, CAST(N'2019-07-16T22:20:23.180' AS DateTime))
INSERT [dbo].[COMENTARIO] ([ID], [TICKET_USUARIO_ID], [COMENTARIO], [BASEROWS], [BASEROWD]) VALUES (3, 3, N'Consegui! Obrigado', 1, CAST(N'2019-07-16T22:20:23.183' AS DateTime))

INSERT [dbo].[TICKET] ([ID], [CODIGO], [DESCRICAO], [TIPO], [PRIORIDADE], [DATA_ABERTURA], [DATA_FECHAMENTO], [STATUS], [BASEROWS], [BASEROWD], [USUARIO_ID]) VALUES (1, N'Falha no Sistema', N'O sistema está apresentando uma falha de comunicação com a tela de login', -1, -1, CAST(N'2019-07-16T22:15:52.410' AS DateTime), NULL, 0, 1, CAST(N'2019-07-16T22:15:52.410' AS DateTime), 3)
INSERT [dbo].[TICKET] ([ID], [CODIGO], [DESCRICAO], [TIPO], [PRIORIDADE], [DATA_ABERTURA], [DATA_FECHAMENTO], [STATUS], [BASEROWS], [BASEROWD], [USUARIO_ID]) VALUES (2, N'Cadastro de Usuários', N'O sistema não está cadastrando um usuario', -1, -1, CAST(N'2019-07-16T22:15:52.423' AS DateTime), CAST(N'2019-07-16T22:15:52.423' AS DateTime), 3, 1, CAST(N'2019-07-16T22:15:52.423' AS DateTime), 3)

INSERT [dbo].[TICKET_USUARIO] ([ID], [TICKET_ID], [USUARIO_ID], [BASEROWS], [BASEROWD]) VALUES (1, 1, 1, 1, CAST(N'2019-07-16T22:17:58.907' AS DateTime))
INSERT [dbo].[TICKET_USUARIO] ([ID], [TICKET_ID], [USUARIO_ID], [BASEROWS], [BASEROWD]) VALUES (2, 1, 3, 1, CAST(N'2019-07-16T22:17:58.910' AS DateTime))
INSERT [dbo].[TICKET_USUARIO] ([ID], [TICKET_ID], [USUARIO_ID], [BASEROWS], [BASEROWD]) VALUES (3, 2, 3, 1, CAST(N'2019-07-16T22:17:58.917' AS DateTime))

INSERT [dbo].[USUARIO] ([ID], [NOME], [EMPRESA], [USUARIO], [SENHA], [TIPO], [BASEROWS], [BASEROWD]) VALUES (1, N'Matheus Maria', N'FTT', N'matheus.maria', N'ftt@2019', 0, 1, CAST(N'2019-07-16T22:12:00.707' AS DateTime))
INSERT [dbo].[USUARIO] ([ID], [NOME], [EMPRESA], [USUARIO], [SENHA], [TIPO], [BASEROWS], [BASEROWD]) VALUES (2, N'Higor Bandeira', N'FTT', N'higor.bandeira', N'ftt@2019', 0, 1, CAST(N'2019-07-16T22:12:00.720' AS DateTime))
INSERT [dbo].[USUARIO] ([ID], [NOME], [EMPRESA], [USUARIO], [SENHA], [TIPO], [BASEROWS], [BASEROWD]) VALUES (3, N'Fulano de Tal', N'Google', N'funalo.tal', N'ftt@2019', 1, 1, CAST(N'2019-07-16T22:12:00.727' AS DateTime))

ALTER TABLE [dbo].[COMENTARIO]  WITH CHECK ADD FOREIGN KEY([TICKET_USUARIO_ID])
REFERENCES [dbo].[TICKET_USUARIO] ([ID])
GO
ALTER TABLE [dbo].[TICKET_USUARIO]  WITH CHECK ADD FOREIGN KEY([TICKET_ID])
REFERENCES [dbo].[TICKET] ([ID])
GO
ALTER TABLE [dbo].[TICKET_USUARIO]  WITH CHECK ADD FOREIGN KEY([USUARIO_ID])
REFERENCES [dbo].[USUARIO] ([ID])
GO
USE [master]
GO
